<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Egorozh.ColorPicker.Core" version="1.0.1" targetFramework="net471" />
  <package id="Egorozh.ColorPicker.WPF" version="5.0.0" targetFramework="net471" />
  <package id="Egorozh.ColorPicker.WPF.Dialog" version="5.0.0" targetFramework="net471" />
</packages>